<!-- example-1.html -->
<div class="container">
  <h1>{{ title }}</h1>

  <div class="menu-container" [nxtSortablejs]="data" [config]="normalOptions">
    <div class="menu-item" *ngFor="let item of data">
      <!-- Menu Item Group -->
      <div *ngIf="item.type === 'MENU_ITEM_GROUP'" class="menu-group">
        <div class="menu-group-header">
          <h3>{{ item.name }}</h3>
        </div>

        <div
          class="menu-group-content"
          [nxtSortablejs]="item.value"
          [config]="normalOptions"
        >
          <div *ngFor="let menuItem of item.value" class="menu-single-item">
            <div class="menu-item-header">
              <h4>{{ menuItem.name }}</h4>
            </div>

            <div
              class="kpi-container"
              [nxtSortablejs]="menuItem.value"
              [config]="normalOptions"
            >
              <div *ngFor="let kpiItem of menuItem.value" class="kpi-item">
                <!-- KPI Group -->
                <div *ngIf="kpiItem.type === 'KPI_GROUP'" class="kpi-group">
                  <div class="kpi-group-header">
                    <h5>{{ kpiItem.name }}</h5>
                  </div>

                  <div
                    class="kpi-group-content"
                    [nxtSortablejs]="kpiItem.value"
                    [config]="normalOptions"
                  >
                    <div
                      *ngFor="let kpi of kpiItem.value"
                      class="kpi-single-item"
                    >
                      {{ kpi.name }}
                    </div>
                  </div>
                </div>

                <!-- Single KPI -->
                <div *ngIf="kpiItem.type === 'KPI'" class="kpi-single-item">
                  {{ kpiItem.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Menu Item -->
      <div *ngIf="item.type === 'MENU_ITEM'" class="menu-single-item">
        <div class="menu-item-header">
          <h3>{{ item.name }}</h3>
        </div>

        <div
          class="kpi-container"
          [nxtSortablejs]="item.value"
          [config]="normalOptions"
        >
          <div *ngFor="let kpiItem of item.value" class="kpi-item">
            <!-- KPI Group -->
            <div *ngIf="kpiItem.type === 'KPI_GROUP'" class="kpi-group">
              <div class="kpi-group-header">
                <h5>{{ kpiItem.name }}</h5>
              </div>

              <div
                class="kpi-group-content"
                [nxtSortablejs]="kpiItem.value"
                [config]="normalOptions"
              >
                <div *ngFor="let kpi of kpiItem.value" class="kpi-single-item">
                  {{ kpi.name }}
                </div>
              </div>
            </div>

            <!-- Single KPI -->
            <div *ngIf="kpiItem.type === 'KPI'" class="kpi-single-item">
              {{ kpiItem.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
