<h2 style="text-align: center">Angular CDK Nested Drag & Drop</h2>

<div class="container" [nxtSortablejs]="data">
  @for (item of data; track $index) {
    @if (item?.type == "MENU_ITEM") {
      <div class="menu-item">
        <p>{{ item.name }}</p>

        <div
          [nxtSortablejs]="isArray(item.value) ? toArray(item.value) : []"
          [config]="normalOptions"
        >
          @for (menuItemData of item.value; track $index) {
            @if (
              typeof menuItemData !== 'string' && menuItemData?.type == 'KPI_GROUP'
            ) {
              <div class="kpi-group">
                <p>{{ menuItemData.name }}</p>
                <div
                  [nxtSortablejs]="
                    isArray(menuItemData.value)
                      ? toArray(menuItemData.value)
                      : []
                  "
                  [config]="normalOptions"
                >
                  @for (kpi of menuItemData.value; track $index) {
                    <div class="kpi">
                      <p>{{ kpi }}</p>
                    </div>
                  }
                </div>
              </div>
            } @else {
              <div class="kpi">
                <p>{{ menuItemData }}</p>
              </div>
            }
          }
        </div>
      </div>
    } @else {
      <div class="menu-item-group">
        <p>{{ item.name }}</p>
        <div [nxtSortablejs]="isArray(item.value) ? toArray(item.value) : []">
          @for (menuItem of item.value; track $index) {
            @if (typeof menuItem !== 'string') {
              <div class="menu-item">
                <p>{{ menuItem.name }}</p>
                <div
                  [nxtSortablejs]="
                    isArray(menuItem.value) ? toArray(menuItem.value) : []
                  "
                  [config]="normalOptions"
                >
                  @for (menuItemData of menuItem.value; track $index) {
                    @if (
                      typeof menuItemData !== 'string' && menuItemData?.type == 'KPI_GROUP'
                    ) {
                      <div class="kpi-group">
                        <p>{{ menuItemData.name }}</p>
                        <div
                          [nxtSortablejs]="
                            isArray(menuItemData.value)
                              ? toArray(menuItemData.value)
                              : []
                          "
                          [config]="normalOptions"
                        >
                          @for (kpi of menuItemData.value; track $index) {
                            <div class="kpi">
                              <p>{{ kpi }}</p>
                            </div>
                          }
                        </div>
                      </div>
                    } @else {
                      <div class="kpi">
                        <p>{{ menuItemData }}</p>
                      </div>
                    }
                  }
                </div>
              </div>
            }
          }
        </div>
      </div>
    }
  }
</div>
