<div>
  <div class="example-container">
    <h2>To do</h2>

    <div class="example-list" [nxtSortablejs]="todo" [config]="normalOptions">
      <div class="example-box" *ngFor="let item of todo">
        <div *ngIf="!isArray(item); else arrayView">{{ item }}</div>
        <ng-template #arrayView>
          <div class="example-container">
            <div
              class="example-list"
              [nxtSortablejs]="isArray(item) ? toArray(item) : []"
              [config]="normalOptions"
            >
              <ng-container *ngIf="isArray(item)">
                <div
                  class="example-box"
                  *ngFor="let innerItem of toArray(item)"
                >
                  {{ innerItem }}
                </div>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
