<div>
  <div class="example-container">
    <h2>To do</h2>

    <div class="example-list" id="root-list">
      <div
        class="example-box"
        *ngFor="let item of todo; index as idx; trackBy: trackByIdx"
      >
        <div *ngIf="!isArray(item); else arrayView">{{ item }}</div>
        <ng-template #arrayView>
          <div class="example-container">
            <div class="example-list" [id]="'sublist-' + idx">
              <ng-container *ngIf="isArray(item)">
                <div
                  class="example-box"
                  *ngFor="
                    let innerItem of toArray(item);
                    index as i;
                    trackBy: trackByIdx
                  "
                >
                  <div *ngIf="!isArray(innerItem); else innerArrayView">
                    {{ innerItem }}
                  </div>
                  <ng-template #innerArrayView>
                    <div class="example-container">
                      <div
                        class="example-list"
                        [id]="'sublist-' + idx + '-' + i"
                      >
                        <ng-container *ngIf="isArray(innerItem)">
                          <div
                            class="example-box"
                            *ngFor="
                              let deeperItem of toArray(innerItem);
                              index as j;
                              trackBy: trackByIdx
                            "
                          >
                            <div
                              *ngIf="
                                !isArray(deeperItem);
                                else deepestArrayView
                              "
                            >
                              {{ deeperItem }}
                            </div>
                            <ng-template #deepestArrayView>
                              <div class="example-container">
                                <div
                                  class="example-list"
                                  [id]="'sublist-' + idx + '-' + i + '-' + j"
                                >
                                  <ng-container *ngIf="isArray(deeperItem)">
                                    <div
                                      class="example-box"
                                      *ngFor="
                                        let deepestItem of toArray(deeperItem);
                                        trackBy: trackByIdx
                                      "
                                    >
                                      {{ deepestItem }}
                                    </div>
                                  </ng-container>
                                </div>
                              </div>
                            </ng-template>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
