<h2 style="text-align: center">Angular CDK Nested Drag n Drop</h2>

<div class="container">
  @for (item of data; track $index) {
    @if (item?.type == "MENU_ITEM") {
      <div class="menu-item">
        <p>{{ item.name }}</p>

        <div
          cdkDropList
          [cdkDropListData]="item.value"
          (cdkDropListDropped)="drop($event)"
        >
          @for (menuItemData of item.value; track $index) {
            @if (
              typeof menuItemData !== 'string' && menuItemData?.type == 'KPI_GROUP'
            ) {
              <div class="kpi-group" cdkDrag>
                <p>{{ menuItemData.name }}</p>
                <div
                  cdkDropList
                  [cdkDropListData]="menuItemData.value"
                  (cdkDropListDropped)="drop($event)"
                >
                  @for (kpi of menuItemData.value; track $index) {
                    <div class="kpi" cdkDrag>
                      <p>{{ kpi }}</p>
                    </div>
                  }
                </div>
              </div>
            } @else {
              <div class="kpi" cdkDrag>
                <p>{{ menuItemData }}</p>
              </div>
            }
          }
        </div>
      </div>
    } @else {
      <div class="menu-item-group">
        <p>{{ item.name }}</p>
        @for (menuItem of item.value; track $index) {
          @if (typeof menuItem !== 'string') {
            <div class="menu-item">
              <p>{{ menuItem.name }}</p>
              @for (menuItemData of menuItem.value; track $index) {
                @if (
                  typeof menuItemData !== 'string' && menuItemData?.type == 'KPI_GROUP'
                ) {
                  <div class="kpi-group">
                    <p>{{ menuItemData.name }}</p>
                    @for (kpi of menuItemData.value; track $index) {
                      <div class="kpi">
                        <p>{{ kpi }}</p>
                      </div>
                    }
                  </div>
                } @else {
                  <div class="kpi">
                    <p>{{ menuItemData }}</p>
                  </div>
                }
              }
            </div>
          }
        }
      </div>
    }
  }
</div>
